header {
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
    left: 0;
    transition: .4s;
    background: linear-gradient(180deg, #000000ba, #0000006c, #00000000);

}

.header-align {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;

    position: relative;
    padding: 10px 50px;
    max-width: 1420px;
    margin-left: auto;
    margin-right: auto;

}




.scroll-start header {

    background: var(--main-color);

    border-bottom: 1px solid #adadad42;
}



.home video {
    height: 100%;
    width: 100%;
    display: block;
    height: calc(100vh - 60px);
    object-fit: cover;
    object-position: center;
}

.logo {
    align-items: center;
    display: flex;
    z-index: 9999;

}

.logo img {
    max-width:200px;
    height:80px;
    object-fit: contain;
    transition: .3s;
}

.header-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
    padding-right: 25px;
    border-right: 1px solid #d5d5d580;
    min-height: 50px;


}

.nav-items {
    color: white;
    align-items: center;
    display: flex;
    font-weight: 200;

    font-size: 16px;
    position: relative;
    height: fit-content;
    cursor: pointer;


    transition: .4s;

}

.nav-items:hover{
    transform: translateY(-3px);
}

.nav-items.active {
    color: var(--main-color2);

}


.nav-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.button-site {
    background: white;
    color: var(--main-color);
    padding: 14px 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    min-width: 100px;
    cursor: pointer;
    line-height: 24px;
    position: relative;
    overflow: hidden;
    z-index: 9;
    min-height: 26px;
    transition: .3s;


}

.button-site:hover{
    transform: translateY(-5px);
}
.button-site2 {
    border: 1px solid white;

}

.button-site3 {
    background-color: var(--main-color);
    color: white;

}

.button-site h6 {
    color: var(--main-color);
    z-index: 9;
    white-space: nowrap;
    font-size: 17px !important;


}

.button-site3 h6 {
    color: white;

}

.button-site img {
    width: 20px;
    height: 20px;
    object-fit: contain;
    z-index: 9;
    transition: .3s;

}

.booknow-right {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 50px;
    border-left: 1px solid var(--main-color);
    z-index: 9;
    display: flex;
    align-items: center;
    justify-content: center;
}







@keyframes btn_anim {
    0% {
        height: 0px;
    }

    100% {
        height: 100%;
    }
}


.button-site:hover:before {
    display: none;
}

.menu {
    width: 25px;
    height: 18px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-direction: column;
    display: none;
}

.menu span {
    height: 2px;
    width: 100%;
    background: white;

}

.menu span:nth-child(2) {
    width: 80%;
}


.fixed-contact {
    position: fixed;
    right: 20px;
    bottom: 100px;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}



.fixed-contact img {

    width: 60px;
    height: 60px;
}

.text-site-primary {
    color: var(--main-color2) !important;
}
.text-site-secondary, .overview-content-heading {
    color: var(--main-color3);
}
.text-site-info {
    color: var(--main-color) !important;
}




.sticky-bar {
    position: fixed;
    left: 0;
    width: 100%;
    background: #091422;
    z-index: 99;
    backdrop-filter: blur(8px);
    transition: .5s;
    bottom: 0px;
    border-top: 2px solid #e7f9fe1a;
}



.sticky-bar h5 {
    font-size: 20px;
    line-height: 20px;
}

section {
    background: #fcfcfc;
    z-index: 1;
    position: relative;
}

/* home started */
.home {
    position: relative;
}






/* .site-body {
    padding-top: 87px;
} */

.carousel-text {
    position: relative;
}

.carousel-text.bg-light {
    background: #03034f59;
    width: fit-content;
    margin: 0 auto;
    padding: 30px;
}

.banner-badge {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 7px 10px;
    background-color: var(--main-color3);
    border-radius: 20px;
    font-size: 14px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    line-height: 13px;
    font-size: 12px;
    /* text-transform: uppercase; */
}

.banner-badge i {
    font-size: 11px !important;
}

.carousel-caption.right-text .banner-badge {
    margin-left: auto;
    margin-right: 0;
}

.carousel-caption.left-text .banner-badge {
    margin-right: auto;
    margin-left: 0;
}

.carousel-caption .carousel-caption-img {
    width: 200px;
    margin: 20px 0;
}

.home .carousel-inner2 {
    position: relative;
}

.home .carousel-inner2 img {
    /* height: calc(100vh - 75px); */
    height: 100vh;
    object-fit: cover;
    width: 100%;
    display: block;
}

.home .carousel-inner2:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
    background: #2f01014c;
}

.home .carousel-inner3:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
    background: linear-gradient(269deg, rgba(0, 0, 0, 0.359), transparent);
}

/* 


.home .carousel-inner2.overlay2:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: calc(100% - 5px);
    background-color: #00000034;
    z-index: 9;
}

.home .carousel-inner2.overlay3:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: calc(100% - 5px);
    background: linear-gradient(90deg, #011a2385, #011a2348, transparent, transparent);
    z-index: 9;
} */

.home .carousel-caption {
    position: absolute;
    top: 50%;
    right: initial;
    bottom: initial;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #fff;
    text-align: center;
    z-index: 99;
    width: 100%;
    max-width: 1320px;
    padding-top: 100px;
    padding-bottom: 50px;
    margin: 0 auto;

}

.carousel-caption-with-img {
    padding-top: 50px !important;
}

.home .carousel-caption.left-text {


    text-align: left;
}

.home .carousel-caption.left-text p {
    margin: 20px 0;
}

.home .carousel-caption.left-text .buttons-container {
    margin: 20px 0;
}

.carousel-caption.left-text .carousel-text {
    max-width: 600px;
}

.home .carousel-caption.right-text {

    right: 0;
    text-align: right;
}

.home .carousel-caption.right-text p {
    margin-left: auto;
    margin-right: 0;
}

.home .carousel-caption.right-text .buttons-container {
    margin-left: auto;
    margin-right: 0;
}

.carousel-caption.right-text .carousel-text {
    max-width: 600px;
    float: inline-end;

}

.properties .swiper-container>.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
    display: none;
}

.home .swiper-pagination {
    z-index: 99;
}

h1 {
    color: white;
    font-size: 44px;
    line-height: 54px;
    font-weight: 700;
}

.home .carousel-caption h1 {
    color: white;
    font-size: 84px;
    line-height: 70px;
    font-weight: 700;
}

.home .carousel-caption p {
    color: white;
    font-size: 22px;
    font-weight: 300;
    line-height: 30px;
    max-width: 700px;
    margin: 20px auto;
}

.home .swiper-slide img.mob {
    display: none;
}

.home .swiper-pagination {

    bottom: 6% !important;
}

.home .swiper-pagination span {

    width: 15px;
    height: 15px;
    padding: 0;
    margin-right: 5px;
    margin-left: 5px;
    border-radius: 50%;
    background-color: #CA9933;

    opacity: .5;

}

.home .swiper-pagination .swiper-pagination-bullet-active {
    opacity: 1;
}

.icon {
    width: 18px;
    height: 18px;
    object-fit: contain;
}

.buttons-container {
    display: flex;
    width: fit-content;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
}

/* about start */
.about-heading{
    font-size: 50px;
    line-height: 1.2;
}

.about-heading span{
    font-size: 40px;
    line-height: 1.2;
}


.about {
    padding: 40px 50px 100px 50px;
}






.about-right-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

 .about-right p {
    color: black;
    font-size: 16px;
    text-align: justify;
}

.about-right {
    padding: 0;
    padding-right: 40px;
}

.about-center {
    padding-left: 50px;
}

.about {
    overflow: hidden;
}



.about-center img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-center {
    position: relative;
    cursor: pointer;
}




.services .about-right {

    background: rgba(208, 221, 220, 1);

}




.about-right h4:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0px;
    height: 2px;
    width: 100%;
    background-color: var(--main-color2);
    max-width: 120px;
}

.about-right h4.no-underline:before {
    display: none;
}




.feature-box {
    display: flex;
    align-items: flex-start;
    gap: 18px;
    padding: 22px 0;
    border-bottom: 1px solid #0fa3b1;
    color: white;
}

.feature-box:last-child {
    border: none;
}


.icon-box {
    border: 1.5px solid #7ad1da;
    border-radius: 8px;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: none;
    padding: 3px;
}

.icon-box img {
    width: 100%;
}

.feature-box h5 {
    color: white;
    /* margin-bottom: 10px; */
    font-size: 20px;
    line-height: 28px;
}

/* overview start */
.overview-section {
    padding-top: 100px;
}

.overview-section>div {
    position: relative;
}

.overview-bg {
    position: relative;
}

.overview-bg:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
    background: #2f01010d;
}

.overview-bg img {
    width: 100%;
    display: block;
}

.overview-content {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    margin: auto;
    padding: 40px;
    z-index: 99;
    max-width: 1400px;
    width: 100%;

}

.overview-content-sec {
    /* max-width: 720px; */
    max-width: 50%;
    text-align: justify;
}

.overview-content2 {
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    margin: auto;
    padding: 40px;
    z-index: 99;
    max-width: 1360px;
    width: 100%;
    text-align: justify;



}

.overview-content-sec2 {
    max-width: 50%;
    margin-left: auto;
}

.overview-content h4 {
    width: 100%;
}

.overview-content p {
    color: white;
}

.overview-content2 p {
    color: white;
}

/* properties start */
.properties {
    padding: 100px 50px;
        background: #f3f3f3;

}



.carousel2-control {
    display: flex;
    gap: 20px;
    margin-top: -40px;
}

.carousel2-control a {
    position: relative;
    opacity: 1;
    width: 30px;
}

.property-card {
    /* padding: 10px; */
    border-radius: 16px;
    transition: .3s;
    background: white;
    overflow: hidden;

}

.property-card-top {
    position: relative;

    overflow: hidden;


}

.property-card-top h4 {
    color: white;
    background-color: var(--main-color);
    padding: 10px 15px;
    font-size: 12px;
    position: absolute;
    right: 0px;
    bottom: 0px;
   width: 100%;
}

.property-card-head {
    /* background: #00000066;
    position: absolute;
    bottom: 0;
    left: 0; */
    width: 100%;
    padding: 15px;
    padding-bottom: 5px;

}

.property-card-top img {
    width: 100%;
    aspect-ratio: 1/.7;
    object-fit: cover;
    display: block;
}

.property-card-head h5 {
    font-size:20px;
    line-height: 26px;
}


.property-row {
    display: flex;
    align-items: center;
    gap: 20px;
    /* padding: 15px 0; */
    flex-wrap: wrap;
}

.property-features {
    display: flex;
    align-items: center;
    gap: 6px;
    width: 100%;
    padding: 5px 15px 20px 15px;
    justify-content: space-between;
}

.property-features img {
    width: 25px;
    height: 25px;
    object-fit: contain;
    /* background: var(--main-color); */
    /* border-radius: 50%;
    padding: 7px; */
}

.properties {
    overflow: hidden;
}




.property-features h6 {
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 6px;
}

.property-features h6 img {
    width: 22px;
}

.property-features-rate {
    font-weight: 600;
    font-size: 14px;
    color: var(--main-color);
    margin-top: 5px;
}


.properties .carousel-indicators {

    bottom: -100px;
}

.property-card .property-card-top img {
    transition: .3s;

}

.property-card:hover .property-card-top img {
    transform: scale(1.1) ;

}

.properties-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 35px 0;
    gap: 20px;

}
.properties-head2{
    display: flex;
    align-items: center;
    gap: 15px;
}
.slider-arrows {
    display: flex;
    align-items: center;
    gap: 20px;
}

.slider-arrows img {
    cursor: pointer;
    width: 20px;
    height: 20px;
}

/* features2 start */



.features-row {
    align-items: center;
    display: grid !important;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.features-row h5{
    color: #2b9db6;
    padding-bottom: 5px;
}

.features2 {
    padding: 30px 50px;
    text-align: center;
    background: linear-gradient(270deg, var(--main-color3), var(--main-color));


}
.cta {
    padding: 50px;
    text-align: center;
    background: linear-gradient(270deg, var(--main-color3), var(--main-color));


}
.cta *{
    color: white;

}

.features2.features {
    border-radius: 0;
    background: #fcfcfc;

}

.features {
    text-align: left;
}

.features .features-column {
    flex-direction: row;
    align-items: start;
    gap: 15px;
}

.features .features-column img {
    /* width: 35px;
    height: 35px; */
    object-fit: contain;
}

.about-center {
    padding-left: 0px;
}

.features2 h5 {
line-height: 1;
    font-size: 26px;
    font-weight: 500;

}

.features2 h3 {

    color: white;
}

.features2 h6 {
    font-size: 18px;
}

.features2 p {
    color: white;
    line-height: 1.5;

}

.features-column {
    padding: 25px 15px;
    min-height: 115px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.sticky-bar .features-column {
    padding: 15px;
    min-height: auto;
    height: 100%;

}
    .sticky-bar .features-column .button-site img {
        position: absolute;

        right: 20px;
    }
        .sticky-bar .features-column .button-site{
        min-height: 60px;
    }
.features-column:not(:last-child) {
    border-right: 2px solid #0000000b;
}

.sticky-bar .features-column:not(:last-child) {
    border-color: #f5f5f50b;
}

/* newst icons start */
.newste-icon {
    padding: 100px 50px;
        background: #f3f3f3;


}

.connectivity {
    display: flex;
    align-items: center;
    gap: 50px;
    

}

.connectivity-img img {
    width: 100%;
}

.location {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.location-header {
    max-width: 650px;
    margin-bottom: 20px;
}
.location-features{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
}
.newst-city-col {
    display: flex;
    flex-direction: column;

    transition: .3s;
    width: 100%;

}
.newst-city-col img{
    width: 100px;
    margin-bottom: 5px;
}


.newst-city-col h6{
    font-size: 12px;
}
.newst-city-col h5 {
    font-weight: 400;
    color: var(--main-color);
    font-size: 14px;
    line-height: 20px;


}









/* payment start */
.payment {
    padding: 100px 50px;

}

.plan-intro {
    text-align: center;
    margin-bottom: 50px;
}

.plan-intro h4 {
    text-align: center;
    margin: auto;
}

.plan-intro p {
    margin: 0 auto;
    max-width: 720px;
}

.plan-cards.plan-cards2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    max-width: 900px;
    margin: 0 auto;
}


.plan-cards>*:not(:last-child) {
    border-right: 2px solid #e3e3e357;
}


.plan-card {
   max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex: auto;
    height: 100%;


}
.plan-card.plan-card-main2{
    gap: 20px;
}


.plan-icon img {
    width: 50px;
}


.plan-card .plan-value {
    font-size: 40px;
    line-height: 42px;
    white-space: nowrap;
    text-align: right;
}

.plan-card .plan-value.plan-value2 {
    font-size: 60px;
    line-height: 62px;

}

.plan-desc {
    text-align: left;
    margin-top: 10px;
    font-size: 20px;
    line-height: 28px;
    opacity: .8;
}
.plan-cards2 .plan-desc.plan-desc2 {
    text-align: right;
    font-size: 24px;
    line-height: 40px;
}
.plan-cards.plan-cards2 > *:not(:last-child) {
    border-right: 2px solid #0d0d0d1a;
    padding-right: 40px;
}
.plan-card-main2 > span {
    background-color: #0d0d0d1a;
    width: 100%;
    height: 1px;
}
.plan-card-bottom {
    display: flex;
    align-items: center;
    gap: 20px;
}

.plan-card-bottom .plan-desc {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.plan-card .plus {
    font-size: .8rem;
    font-weight: 600;
    color: gray;
    margin-left: 4px;
}

.plan-card.accent {
    border: 2.5px solid var(--main-color);
    background: linear-gradient(0deg, #f3fbe6 90%, #e4fad7 100%);
}

.plan-card.accent .plan-value,
.plan-card.accent .plan-desc {
    color: var(--main-color);
}

.plan-card.accent .plan-icon {
    color: var(--main-color);
}








/* three world start */

.three-world {
    padding: 100px 50px;
    background: #f3f3f3;
}
.three-world-content{
    position: sticky;
    top: 120px;
    height: fit-content;
}
.three-world-card{

margin-top: 20px;
overflow: hidden;
transition: .4s;
display: flex;
align-items: center;
}
.three-world-card:hover{
transform: translateY(-5px);
}
.three-world-card .content{
    padding-left: 20px;
}
.three-world-card img{
    display: block;
    width: 80px;

    object-fit: cover;
}
.three-world-card p{
    font-size: 15px;
}
.three-world-card h4{
    font-size: 20px;
    padding-bottom: 3px;
}
.three-world .grid-3{
    display: grid;
    grid-template-columns: 2fr;
    gap: 20px;
    padding-left: 50px;
}
 .grid-3 > div:nth-child(1){
   grid-column: span 2;
 }
.three-world .grid-3 img{
    width: 100%;
}

/* amenities start */
.ameninties {
    padding: 100px 50px;
    background: white;
}

.amenities-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    color: #fff;
}


.amenities-col img {
    width: 100%;
    aspect-ratio: 2/1.3;
    object-fit: cover;
    display: block;
}

.amenities-col {
    position: relative;
}

.amenities-col h5 {
    text-align: center;
    padding: 10px;
    font-weight: 400;
    line-height: 14px;
}

.amenities-row-2 {
    margin-top: 40px;
}



.amenities-list {
    list-style: none;
    /* remove bullets */
    padding: 0;
    margin: 50px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.amenities-list li {
    padding: 10px 20px;
    border-bottom: 1px solid #2d2d2dac;
    border-right: 1px solid #2d2d2dac;
    font-weight: 400;
    text-align: center;
    font-size: 18px;
}

.amenities-list li:nth-child(4n) {
    border-right: none;
    text-align: left;
}

.amenities-list li:nth-last-child(-n+4) {
    border-bottom: none;
}

.amenities-list li:nth-child(1),
.amenities-list li:nth-child(5),
.amenities-list li:nth-child(9) {
    text-align: right;
}






/* sub-page start */
.sub-page-banner {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sub-page {
    position: relative;
    padding: 100px 70px;
    display: flex;
    justify-content: flex-end;

}


.sub-page:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #0000007a;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 9;
}


.policy {
    padding: 100px 50px;
}

.policy .container {
    max-width: 1000px;
}

.policy .container p {
    line-height: 28px;
    margin-top: 30px;
}

/* footer start */
.footer {
    background-color: var(--main-color3);
    padding: 0px 0 100px 0;
}



.footer-social {
    display: flex;
    align-items: center;
    gap: 15px;
    /* justify-content: center; */
    padding: 10px 0;
    flex-wrap: wrap;
    width: 100%;
}

.footer-social img {
    width: 30px;
    height: 30px;
    object-fit: contain;
    cursor: pointer;
    padding: 0 5px;

}

.footer-social img:hover {

    -webkit-animation-name: jello;
    animation: jello 2s linear;
    -webkit-transform-origin: center;
    transform-origin: center;
}


@keyframes jello {

    0%,
    11.1%,
    to {
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }

    22.2% {
        -webkit-transform: skewX(-12.5deg) skewY(-12.5deg);
        transform: skewX(-12.5deg) skewY(-12.5deg)
    }

    33.3% {
        -webkit-transform: skewX(6.25deg) skewY(6.25deg);
        transform: skewX(6.25deg) skewY(6.25deg)
    }

    44.4% {
        -webkit-transform: skewX(-3.125deg) skewY(-3.125deg);
        transform: skewX(-3.125deg) skewY(-3.125deg)
    }

    55.5% {
        -webkit-transform: skewX(1.5625deg) skewY(1.5625deg);
        transform: skewX(1.5625deg) skewY(1.5625deg)
    }

    66.6% {
        -webkit-transform: skewX(-.78125deg) skewY(-.78125deg);
        transform: skewX(-.78125deg) skewY(-.78125deg)
    }

    77.7% {
        -webkit-transform: skewX(.390625deg) skewY(.390625deg);
        transform: skewX(.390625deg) skewY(.390625deg)
    }

    88.8% {
        -webkit-transform: skewX(-.1953125deg) skewY(-.1953125deg);
        transform: skewX(-.1953125deg) skewY(-.1953125deg)
    }
}




.footer h5 {
    padding-bottom: 10px;
}

.footer-column {
    padding: 30px;
}

.second-footer .nav2 {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: 25px;
}



.second-footer .contact-number a {
    color: white !important;
}

.footer h6 {
    color: white;
    line-height: 26px;
    font-size: 13px;
    font-weight: 300;
    text-align: justify;
}

.logo-footer-column {
    display: flex;
    align-items: center;

    justify-content:center;
}

.logo-footer img {
    max-width: 160px;
    height: 160px;
    object-fit: contain;
}



.footer-column:not(:last-child) {
    border-right: 1px solid #FFFFFF24;
}

.third-footer {
    border-top: 1px solid #FFFFFF30;
    padding-top: 20px;
    gap: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}

.third-footer .links {
    color: white;
    display: flex;
    align-items: center;
    gap: 10px;
    line-height: 26px;
    font-size: 13px;
    font-weight: 300;
}

.third-footer a {
    color: white;

}






/* modals start */

/* Modal */
.modal2 {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.4);
    max-height: 100vh;

}

.modal-content2 {

    margin: 20px auto;
    width: 90%;
    max-width: 1310px;
    height: 100%;
    max-height: calc(100vh - 40px);
}

.close2 {
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    font-size: 40px;
    cursor: pointer;
    line-height: 14px;
}





/* Modal Background */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
    /* Dark semi-transparent background */
    font-family: Arial, sans-serif;
}

/* Modal Content Box */
.modal-content {
    background: #ffffffc0;
    margin: 40px auto;
    padding: 40px;
    border-radius: 6px;
    width: 700px;
    max-width: 90%;
    position: relative;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
}

.form-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

/* Close Button */
.close {
    position: absolute;
    top: 12px;
    right: 16px;

    font-weight: bold;
    cursor: pointer;
    line-height: 0;
    padding: 10px;
}

.close i {

    color: var(--main-color);

}

/* Form Inputs */
input[type=text],
input[type=email],
input[type=tel],
select {
    width: 100%;
    margin: 5px 0 5px 0;
    padding: 10px 0px;
    border: none;
    border-bottom: 1px solid var(--main-color);
    font-size: 14px;
    box-sizing: border-box;
    outline: none;
    background: initial;
}

::placeholder {
    color: #000;
}

.form-row hr {
    border-color: #000000c5;
}

.form-row .button-site {
    border: none;
    width: 100%;
    max-width: 350px;
    margin: 30px auto 0 auto;
}

label {
    font-size: 14px;
    color: var(--main-color);
    font-weight: 300;
}


/* why invest start */

.why-invest {
    margin: 0 auto;
    text-align: center;

    padding: 100px 50px;
    background: linear-gradient(270deg, var(--main-color3), var(--main-color));



}
.why-invest::before{
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    background: url(/images/bg1.jpg);
    background-size: cover;
    background-position: right;
    width: 60%;
    height: 100%;
        mask-image: linear-gradient(90deg, transparent, rgba(0, 0, 0, 0), rgb(0, 0, 0) 80vh);
}
.why-invest *{
   
    color: white!important;


}
.why-invest .card h3{
    font-weight: 300;
        margin: 5px 0 5px 0;
}
.why-invest h5 {
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 10px;
    letter-spacing: 1px;
}

.why-invest h2 {
    font-size: 32px;
    margin-bottom: 50px;
}

.investment-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 50px;

    overflow: hidden;
}

.why-invest-content{
grid-column: span 3;
text-align: left;
}
.why-invest-card{
grid-column: span 4;
}

.card {
    padding: 14px;
    text-align: left;
    display: flex;
    gap: 10px;
    transition: all 0.3s ease;
}

.card>i {
    flex: none;
    font-size: 30px !important;
    color: var(--main-color);
    width: 40px;
}


.card h3 {
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    margin: 0 0 5px 0;
}

.card p {
    color: #424242;
    font-size: 14px;
}




@media(min-width: 520px) {


    .header-right .logo {
        display: none;
    }

    .features2 .button-site {
        padding: 20px 50px;
    }

    .features2 .button-site h6 {
        font-size: 20px !important;
    }
}




@media(max-width: 1400px) {


    .home .carousel-caption {
        padding-left: 50px;
        padding-right: 50px;
    }

}

@media(max-width: 1200px) {




    .about-right {
        padding: 100px 50px;
    }



}

@media(max-width: 1080px) {
    .connectivity {
        flex-direction: column;
    }
.overview-content-heading{
    color: white;
}
    .overview-content,
    .overview-content2 {
        position: relative;
        padding: 20px;

    }

    .overview-section>div {
        position: relative;
        background: var(--main-color3);
        display: flex;
        flex-direction: column;
        padding-bottom: 30px;
    }

    .overview-bg {
        order: 0;
    }

    .overview-content {
        order: 1;
    }

    .overview-content2 {
        order: 2;
    }

    .plan-cards>*:not(:last-child) {
        border: none;
        border-bottom: 2px solid #e3e3e357;
        padding-bottom: 20px;
    }

    .investment-grid {
        grid-template-columns: repeat(2, 1fr);
        margin-bottom: 0;

    }


}

@media(max-width: 990px) {

    .overview-content-sec,
    .overview-content-sec2 {
        max-width: 100%;
    }

    .features2 h6 {
        font-size: 14px;
    }

    .features .features-column img {
        max-width: 120px;
    }



    .amenities-list {

        grid-template-columns: 1fr 1fr 1fr;
    }

    .amenities-list li:nth-child(4n) {
        border-bottom: 1px solid #2d2d2dac;
        border-right: 1px solid #2d2d2dac;
    }

    .amenities-list li:nth-child(9) {
        border-bottom: 1px solid #2d2d2dac;
    }

    .amenities-list li:nth-child(3n) {
        border-right: none;
        text-align: left;
    }

    .amenities-list li:nth-last-child(-n+3) {
        border-bottom: none;
    }

    .amenities-list li:nth-child(1),
    .amenities-list li:nth-child(4),
    .amenities-list li:nth-child(7),
    .amenities-list li:nth-child(10) {
        text-align: right;
    }

    .amenities-list li:nth-child(5),
    .amenities-list li:nth-child(8) {
        text-align: center;
    }

    .plan-cards {
        gap: 18px;
    }

    .payment-plan-modern {
        padding: 32px 8px;
        border-radius: 20px;
    }

    .plan-card {
        min-width: 140px;
        align-items: flex-start;
    }


    .amenities-bg {
        padding: 16px;
    }

    .header-right {

        gap: 40px;
        padding-right: 30px;
        margin-right: 50px;
    }

    .logo img {
        height: 60px;
    }

    .scroll-start .logo img {
        height: 50px;
    }

    .menu {
        display: flex;
        z-index: 9999;
        position: absolute;
        right: 20px;
    }


    .header-right .nav {
        flex-direction: column;
        height: 100vh;
        background: var(--main-color);
        width: 100vw;
        position: fixed;
        top: 0;
        right: -150vw;
        justify-content: flex-start;
        transition: .3s;
        padding-top: 120px;
        padding-bottom: 120px;

        width: 100%;
        padding-right: 0;
        border: none;
    }

    .header-align.open .nav {
        right: 0;
        flex-direction: column;
        gap: 20px;
    }

    .nav-items {
        font-size: 20px;
    }

    .nav {

        flex-direction: column;
    }


    .open .menu span:nth-child(2) {
        display: none;
    }

    .open .menu span:nth-child(1) {
        transform: translate(0%, 10px) rotate(45deg);
        transition: .3s;
    }

    .open .menu span:nth-child(3) {
        transform: translate(0%, -6px) rotate(-45deg);
        transition: .3s;
    }

    .features2 h5 {
        font-size: 18px;
    }


    .footer-column {
        border-right: none !important;
    }

    .footer-column:not(:last-child) {
        border-bottom: 1px solid #FFFFFF24;
    }

    .footer-column:first-child {
        border-right: 1px solid #FFFFFF24 !important;
        flex-wrap: wrap;
    }

    .location-header {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: start;
        margin-bottom: 30px;
    }


    .amenities-row {
        grid-template-columns: 1fr 1fr 1fr;

    }






}

@media(max-width: 768px) {
    .about-right p {

        font-size: 14px !important;
    }

    .investment-grid {
        grid-template-columns: 1fr;
    }



    .investment-grid {
        background-color: white;
        border-radius: 16px;
        overflow: hidden;
        margin: 0;
        gap: 0;
    }

    .features-column:nth-child(2) {
        border: none;
        border-bottom: 2px solid #00575b1f;
        min-height: 122px;
    }

    .features-column {

        min-height: 122px;
    }

    .features-column:nth-child(1) {
        border-bottom: 2px solid #00575b1f;
    }


    .home .carousel-caption {
        padding-left: 25px;
        padding-right: 25px;
    }

    .sticky-bar .features-column {
        display: none;
    }

    .sticky-bar .features-column.sticky-btn {
        display: block;
    }

    .sticky-bar .features-row {
        grid-template-columns: 1fr;
    }



    .amenities-list li {
        padding: 5px;
        font-size: 13px;
        line-height: 20px;
        text-align: center !important;
    }




    .features-row {
        grid-template-columns: 1fr 1fr;
    }

    .location {
        grid-template-columns: 1fr 1fr;
    }

    .home .carousel-caption h1,
    h1 {

        font-size: 52px;
        line-height: 55px;

    }

    .header-align {

        height: 75px;
    }

    /* .site-body {
        padding-top: 75px;
    } */



    .scroll-start .site-body {
        padding-top: 65px;
    }

    .home .carousel-caption p {

        font-size: 16px;
        line-height: 24px !important;

    }

    .introducing {
        display: none;
    }

    .header-align {

        padding: 0 20px;
    }

    .header-right {

        margin-right: 30px;

    }



    .about-right {

        padding: 50px 40px;
    }

    .sub-page {
        padding: 80px 40px;
    }


    .properties {
        padding: 50px 30px;
    }


    .banner-shape {
        height: 100px;
    }


    .services-start,
    .about,
    .payment,
    .ameninties,
    .why-invest,
    .policy {
        padding: 70px 30px;
    }

    .services .row {
        flex-direction: row-reverse;
    }



   .about-right {
        padding: 0;
    }

    .third-footer {
        text-align: left;
        /* justify-content: center; */
        padding-left: 20px;
        padding-right: 20px;
    }

    .plan-card .plan-value {
        font-size: 26px;
        line-height: 30px;
    }


}

@media(max-width: 580px) {


    .footer-column:first-child {
        border-right: none !important;
    }



    .newste-icon {
        padding: 50px 20px;
    }

    .payment,
    .newste-icon,
    .ameninties {
        padding-top: 20px !important;

    }

    .newste-icon .container {
        padding: 0;
    }

    .amenities-row {
        grid-template-columns: 1fr 1fr;
        gap: 15px;

    }



    .home .carousel-caption {
        top: 7%;
        transform: translateX(-50%);

    }

}

@media(max-width: 520px) {
    .carousel-caption .buttons-container {
        display: none;
    }

    .only-desk {
        display: none;
    }

    .home .carousel-caption p {
        margin: 10px 0 !important;
        text-align: left;
    }

    .carousel-caption-with-img * {
        text-align: center !important;
    }

    .carousel-caption-with-img .banner-badge {
        margin-left: auto !important;
    }

    .sticky-bar {
        bottom: 0;
    }



    .home .swiper-pagination span {
        width: 10px;
        height: 10px;

    }

    .home .swiper-pagination {
        bottom: 3% !important;
    }

    .header-right {

        justify-content: space-between;
        gap: 25px;
        width: 100%;
    }

    .header-left {
        display: none;
    }





    @keyframes left_anim {
        0% {
            bottom: -100px;
        }

        100% {
            bottom: 0px;

        }
    }

    .nav-buttons {

        width: 100%;
        padding: 20px;
        justify-content: flex-start;
    }

    .about-right,
    .payment,
    .properties,
    .services-start,
    .about,
    .ameninties,
    .why-invest,
    .policy {

        padding: 50px 20px;
    }

    .features2 {
        padding: 20px;
    }

    .overview-section {
        padding-top: 50px;
    }


    .sub-page {
        padding: 80px 20px;
    }



    .client-column {
        width: 50%;
    }

    .footer h6 {
        font-size: 12px;
    }

    .fixed-contact {
        top: auto;
        transform: initial;
    }

    .home .carousel-inner2 img {
        height: calc(100vh - 80px);
    }

    .properties .carousel-indicators {
        bottom: -80px;
    }

    .footer-column {
        padding: 20px;
    }




    .modal-container {

        padding: 20px;
    }

    .prev-btn,
    .next-btn {
        padding: 10px;
    }

    .next-btn img,
    .prev-btn img {
        width: 20px;
        height: 20px;
    }

    .nav-buttons {
        display: none;
    }

    .form-row {

        grid-template-columns: 1fr;
        gap: 10px;

    }

    .home .carousel-inner2 img {
        object-position: 64% 0;
    }

    .home .carousel-inner2 img.position1 {
        object-position: 90% 0 !important;
    }

    .home .carousel-inner2 img.position2 {
        object-position: 26% 0 !important;
    }

    .home .carousel-inner2 img.position3 {
        object-position: 26% 0 !important;
    }

    .home .carousel-caption.right-text,
    .home .carousel-caption.left-text {
        text-align: left;
    }

    .home .carousel-caption.right-text .buttons-container,
    .home .carousel-caption.left-text .buttons-container {
        /* margin-left: auto; */
        margin-right: auto;

    }

    .home .carousel-caption h1,
    h1 {
        text-align: left;
    }

    .banner-badge {

        margin-left: 0 !important;
        margin-right: auto !important;

    }


}



@media (max-width: 480px) {
    .features .features-column {
        min-height: 125px;
        padding: 15px;
    }

    .half {
        width: 100%;
        float: none;
        margin-bottom: 0;
    }

    .features .features-column {
        flex-direction: column;
        gap: 5px;
    }

    .logo-footer-column {
        width: 100%;

    }



    .newst-city-col {
        padding: 12px;
        font-size: 13px;
        line-height: 20px;

    }


    .home .swiper-slide img.desk {
        display: none;
    }

    .home .swiper-slide img.mob {
        display: block;
    }

}


@media (max-width: 440px) {
    .product-gallery-head {
        display: flex;
    }

    .features-column {
        padding: 20px 12px;
        justify-content: center;
    }

    .features2 h6 {
        font-size: 13px;
    }

    .newst-city-col h5 {
        margin-top: 5px;
        font-size: 14px;
    }

    .features .features-column {
        padding: 12px;
    }

    .property-card {
        padding: 0px;

    }

    .properties-head {
        flex-direction: column;
    }

    .slider-arrows {
        display: none;
    }

    .plan-card {

        flex: 1 1 100%;
        max-width: 100%;

    }

    .plan-card {
        display: flex;
        gap: 22px;
    }

    .plan-card .plan-value {
        line-height: 40px;
    }

    .modal-content {

        padding: 20px;

        max-width: 95%;

    }

    input[type=text],
    input[type=email],
    input[type=tel],
    select {
        margin: 5px 0 5px 0;

    }

    .modal-content {
        margin: 20px auto;
    }

    .property-details-row {
        padding: 30px 15px;
    }

    .properties-details .container-fluid {
        padding: 0;
    }

    .card>i {
        font-size: 22px !important;
        width: 26px;
    }

    .plan-intro {
        margin-bottom: 30px;
    }

    .feature-box h5 {
        font-size: 18px;
        line-height: 26px;
    }

    .button-site h6 {
        font-size: 14px !important;
    }
    .about-heading{
    font-size: 28px;
}

}